body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    color: #fff; 
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.left-list, .right-list {
    display: flex;
    align-items: center;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar li {
    margin: 0;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar a:hover {
    text-decoration: underline;
}

.user-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.user-menu li {
    margin: 0;
    padding: 10px;
}

.user-menu a {
    text-decoration: none;
    color: #fff;
}

.user-icon {
    width: 30px;
    height: 30px;
    display: flex;
    text-align: center;


}

@media (max-width: 768px) {
    .right-list {
        display: none;
    }
}

